* {margin:0px; padding:0px;}
ul,li {list-style-type: none;}
a {text-decoration:none; border:0px;}
a:visited {color:black;}
a:hover {color:aqua;}
.wrap {width:100%; height:auto; position:relative;}
.content_wrap {margin:0 auto; width:1000px; margin-top:30px; height:1100px; position:relative;}
.left_menu li:first-child {border:0px;}
.left_menu {position:absolute; left:200px; top:151px; width:200px; height:500px;}
.left_menu li {float:left; width:200px; line-height:270%; letter-spacing:-1px; font-size:11pt;  border-bottom:1px solid lightgray;}
.left_menu h2 {text-align:center; width:200px; letter-spacing:-3px; padding-bottom:18px; font-size:18pt; font-weight:500; border-bottom:3px solid #0085C2;}
.content {width:100%; height:840px; margin:0 auto; float:left;}
.sullip {width:100%; height:350px; padding-bottom:70px; margin-top:30px;}
.sullip_img {float:left; margin-left:20px; margin-top:20px; border:2px solid black; padding:2px; width:264px; height:312px;}
.sullip_text ul {float:left; width:668px; margin-left:40px; margin-top:250px; height:100px;}
.sullip_text ul li {line-height:200%; font-size:18pt; font-weight:600;}
.content_top {float:left; width:100%; height:57px; border-bottom:3px solid #0085C2;}
.cnt_top_text {float:left; width:100%; height:100%;}
.cnt_top_text h1 {font-weight:500; float:left; height:100%; width:230px; font-size:21pt; margin-left:10px;}
.cnt_top_text ul {float:right; height:100%; width:150px; font-size:10pt; line-height:400%;}
.cnt_top_text ul li {float:left; margin-left:7px; letter-spacing:-2px;}
.cnt_end_line {width:100%; height:0; border-bottom:2px solid lightgray;}
.content_line {width:80%; height:0; margin:0 auto;  border-bottom:2px solid lightgray;}
.gyojang {width:100%; height:400px; margin-top:80px;}
.gyojang_img {width:120px; height:160px; margin-left:160px; border:2px solid black; padding:2px; float:left;}
.gyojang_text {float:right; font-size:11pt; width:668px; margin-left:40px; letter-spacing:-1px; height:465px;}