@charset "utf-8";

.sub_title{font-size:15pt;}
.sub-title-area ul{float:right;font-size: 12px;margin-top: 37px}
.sub-title-area {
    margin-bottom: 10px;
}
.sub-title-area li{
	float:left;background: url(/img/sub-title-direction.jpg) no-repeat;
}




.sub-title-area ul>li:first-child{color: #19469d;
    font-weight: bold;
    padding: 0 4px;
    background: none;}
.sub-title-area ul>li:nth-child(2){color: #b5b5b5;
    padding-left: 11px;
    padding-right: 6px} 
.sub-title-area ul>li:last-child{color: #888;
    padding-left: 8px}

	
.sub-title-area h4.sub-title{float:left;font-size:33px;margin-top:-46px}

