.content_t{border-bottom:2px solid #d8d8d8;padding:11px 0 14px 0;font-size:25px;margin-top:20px;color:#777}
.intro{font-size:18pt;text-align:center}
.pbintro2{float:right}
p{line-height:30px}
[class *=pb]{font-size:18pt;margin-top:40px}
[class *=pm]{font-size:12pt}
[class *=ps]{font-size:11pt}
[class *=last]{margin-bottom:20px}
.content img{width:740px}
.sub_title{font-size:14pt;color:red}
